@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Submit your favorite Restaurant below: ";
}


@model Top5Restaurants.Models.ApplicationResponse

<form asp-action="AddFav" class="form-horizontal" method="post">

    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="Name">Your Name: </label>
        <input asp-for="Name" />
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="RestaurantName">Restaurant Name:</label>
        <input asp-for="RestaurantName" />
    </div >
    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="FavoriteDish">Your Favorite Dish:</label>
        <input asp-for="FavoriteDish" />
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="RestaurantPhone">Restaurant Phone:</label>
        <input asp-for="RestaurantPhone" />
    </div>

    <div asp-validation-summary="All"></div>
    <button type="submit">Submit</button>


</form>
