@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This site shows the Top 5 restaurants in the Provo area.</p>
    <div class="img-thumbnail">  
        <img src="~/img/provo.jpg" />
    </div>
   
    <br />
    <a class="btn btn-primary" asp-action="RestaurantList">View the List</a>
</div>
